@charset "UTF-8";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background: #24211E;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.pageup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 9998;
}

.pageup::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #333;
    transform: rotate(-45deg);
    top: 23px;
    left: 10px;
}

.pageup::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #333;
    transform: rotate(45deg);
    top: 23px;
    left: 22px;
}


/* header ******************************************/

header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 70px;
    background: #24211E;
    top: 0;
    left: 0;
}

.header-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 70px;
}

header .header-inner ul {
    display: flex;
    align-items: center;
}

header .header-inner ul li {
    margin-right: 20px;
}
header .header-inner ul li a{
    color: #fff;
}
header .header-inner ul li:last-child {
    margin-right: 0px;
}
.header-sp-name{
    width: fit-content;
    line-height: 70px;
    font-size: 3.0rem;
    margin-left: 25px;
}
h1 a{
    color: #fff;
}
/* fv **********************************************/
#fv {
    height: calc(100vh - 70px);
    position: relative;
    margin-top: 70px;
    background-color: #cccccc;
    overflow: hidden;
    background-image: url(img/service3.jpg);
    background-size: cover;
}

.fv {
    height: calc(100vh - 70px);
}

.mask-landscape {
    background: url("img/service1.jpg") center;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mask-landscape p {
    font-size: 19.0rem;
    font-weight: bold;
}

/* 英語文 */
.fv-text {
    position: absolute;
    top: 10%;
    left: 65px;
    font-size: 3.0rem;
    color: #fff;
    z-index: 500;
}

.line-1 {
    /*対象のテキスト*/
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter {
    /*アニメーションセッティング*/
    animation: typewriter 3.0s steps(41) 1s 1 normal both,
        blinkTextCursor 500ms steps(41) infinite normal;
        animation-delay: 1.9s;
}

@keyframes typewriter {

    /*タイプライターライクなアニメーション*/
    from {
        width: 0;
    }

    to {
        width: 22em;
    }
}

@keyframes blinkTextCursor {

    /*点滅するカーソルのアニメーション*/
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* 会社名 */
.fv-office {
    position: absolute;
    bottom: 0%;
    left: 65px;
    color: #333;
    background: #fff;
    width: 300px;
    padding: 20px 0;
}

.fv-office-inner {
    margin: 0 auto;
    width: 200px;

}

.fv-office-title {
    position: relative;
    font-size: 3rem;
    margin: 5px 0;
}

.fv-office-title::after {
    /*Famulu下線*/
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 200px;
    height: 1px;
    background: darkblue;
}

/* 画像 */
.fv-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
}

.fv-img img {
    width: 100px;
}

.fv-img img:nth-of-type(1) {
    height: 500px;
}

.fv-img img:nth-of-type(2) {
    height: 125px;
}

.fv-img img:nth-of-type(3) {
    height: 150px;
}

.fv-img img:nth-of-type(4) {
    height: 175px;
}
.image{
    position: absolute;
    top:0;
    left:0;
	width: 50%;
    height: 100%;
    z-index: 999;
    background-color: #24211E;
    color: #fff;
	opacity: 1;
	animation: slide-out-anim 1.5s ease-out forwards;
}
.image2{
    position: absolute;
    top:0;
    left:50%;
	width: 50%;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    color: #333;
	opacity: 1;
	animation: slide-out-anim2 1.5s ease-out forwards;
}
.image3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.0rem;
}
@keyframes slide-out-anim2 {
    0% {
		opacity: 1;
		transform: translateY(50%);
	}
    10% {
		opacity: 1;
		transform: translateY(0%);
	}
	70% {
		opacity: 1;
		transform: translateY(0%);
	}
	/* 50% {
		opacity: 0;
	} */
	100% {
		opacity: 1;
		transform: translateY(-200%);
	}
}

@keyframes slide-out-anim {
    0% {
		opacity: 1;
		transform: translateY(-50%);
	}
    10% {
		opacity: 1;
		transform: translateY(0%);
	}
	70% {
		opacity: 1;
		transform: translateY(0%);
	}
	/* 50% {
		opacity: 0;
	} */
	100% {
		opacity: 1;
		transform: translateY(200%);
	}
}



/* common *********************************************/
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 55px 0;
}
.page-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 70px 0;
}
/* section *********************************************/
.section-title {
    margin: 50px 0 30px;
    font-size: 3.3rem;
    text-align: center;
    position: relative;
    color: #deb887;
}

.section-text {
    margin: 0 auto 60px;
    height: 300px;
}

.hr {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%, 0);
    width: 40%;
}

.hr1 {
    position: absolute;
    background: #deb887;
    width: 30%;
    height: 4px;
    top: 10px;
    left: 0px;
    border: 0;
}

.hr2 {
    position: absolute;
    background: #fff;
    width: calc(100% - 30%);
    height: 4px;
    top: 10px;
    left: 30%;
    border: 0;
}
/* main */
.main-message{
    height: 475px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-message-text{
    width: 80%;
    margin: 0 auto;
    line-height: 2.0;
}
.main-message p:nth-of-type(1){
    font-size: 3.0rem;
    margin-bottom: 50px;
    text-align: center;
}
/* サービス ******************************************/
.service-list {
    display: flex;
    flex-wrap: wrap;
}

.service-item-wrapper {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.mask {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.service-item-img {
    width: 100%;
    height: 450px;
}

.service-item-img img {
    object-fit: cover;
    object-position: center;
}

.service-item-wrapper:hover .service-item-img {
    transform: scale(1.1, 1.1);
    transition: 1s all;
}

.service-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: #fff;
}

.service-item-text p:nth-of-type(1) {
    font-size: 5.0rem;
    text-align: center;
    margin-bottom: 20px;
}

.service-item-text p:nth-of-type(2) {
    font-size: 2.0rem;
    text-align: center;
}

/* page */

.page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #cccccc; */

}

.page-title {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.page-item {
    width: 50%;
    padding: 20px 30px;

}

.page-item-inner {
    background: #fff;
    height: 230px;
    width: 100%;
    margin: 0 auto;
    color: #333;
    display: flex;
    box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.6);
}

.page-item-inner:hover .page-item-img img {
    transform: scale(1.1, 1.1);
    transition: 1s all;
}

.page-item-img {
    width: 50%;
    overflow: hidden;
}

.page-item-img img {
    object-fit: cover;
}

.page-item-text {
    width: 50%;
    padding: 20px;
    position: relative;
}

.page-web-flow-item{
    position: relative;
}
.fa-angles-right{
    position: absolute;
    content: "";
    top: 60%;
    left: 99%;
    transform: translate(-50%,-50%);
    font-size: 3.0rem;
}
/*
.page-item-text-hr {
    position: relative;
}

.page-item-text-hr1 {
    position: absolute;
    width: 60px;
    height: 3px;
    top: 36px;
    left: 0px;
    background-color: blue;
    border: 0;
}

.page-item-text-hr2 {
    position: absolute;
    width: 80%;
    height: 3px;
    top: 36px;
    left: 36px;
    background-color: gold;
    border: 0;
} */

.page-item-text p:nth-of-type(1) {
    font-size: 1.5rem;
    margin-top: 20px;
}

.page-item-text .fa-circle-chevron-right {
    position: absolute;
    content: "";
    bottom: 20px;
    right: 20px;
    font-size: 3.0rem;
    z-index: 9999;
}

.contact-text {
    background-image: url(img/service1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link {
    width: 400px;
    margin: 30px auto;
    background: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 50px;
}

.contact-link a {
    color: #333;
    font-weight: bold;
    font-size: 2.0rem;
}



footer {
    padding-top: 80px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
}

.footer-left {
    width: 30%;
    text-align: center;
    border-right: 1px solid #fff;
}

.footer-logo {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 15px;
}

.footer-left a {
    display: block;
    color: #fff;
    margin-bottom: 20px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon .fa-brands {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 40px;
    font-size: 25px;
}

.footer-right {
    padding-left: 30px;
}

footer nav ul {
    display: flex;
    justify-content: center;
}

footer nav li {
    margin: 0 20px;
}

.copy {
    text-align: center;
    font-size: 1.3rem;
    padding: 20px 0;
}

.fadein {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* fv */
.fv-fadein {
    opacity: 0;
    animation-name: fv-fadein;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* @keyframes fv-fadein {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fv-fadein1 {
    animation-delay: 0.4s;
}

.fv-fadein2 {
    animation-delay: 0.6s;
}

.fv-fadein3 {
    animation-delay: 0.8s;
}

.fv-fadein4 {
    animation-delay: 1.0s;
} */


#page-top {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 9998;
    text-align: center;
    background: #006e9f;
    bottom: 50px;
    right: 50px;
}

#page-top a {
    display: block;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    /* transform: rotate(-90deg); */
}
/* page */

.page-web-title{
    font-size: 3.5rem;
    text-align: center;
    width: fit-content;
    border-bottom: 1px solid #deb887;
    margin: 0 auto 25px;
}
.page-fv img{
    height: 500px;
}
.page-fv img{
    object-fit: cover;
    object-position: center;
}
.page-info{
    /* margin-left: 50px; */
}
.page-info hr{
    width: 30%;
    height: 4px;
    background: #fff;
    margin-bottom: 50px;
}
.page-info p:nth-of-type(1){
    font-size: 3.5rem;

}
.page-info p:nth-of-type(2){
    font-size: 1.8rem;
}


.page-web-item{
    display: flex;
}
.page-web-item-img{
    width: 50%;
}
.page-web-item-text{
    padding: 20px 50px;
    width: 50%;
    font-size: 2.0rem;
}
.page-web-item-text-detail{
    padding-left: 30px;
    margin-top: 20px;
    line-height: 1.8;
}
.page-web-item-text-detail .fa-check{
    color: red;
    margin-right: 15px;
}
.page-web-flow-inner{
    background: #fff;
    padding: 40px 0;
    color: #333;
    border: 5px solid gold;
}
.page-web-flow-title{
    text-align: center;
    font-size: 3.0rem;
    margin-bottom: 30px;
}
.page-web-flow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.page-web-flow-item {
    text-align: center;
    width: 20%;
    padding: 0 10px;
}
.page-web-flow-item p{
    font-size: 2.0rem;
}
.page-web-flow-item img{
    width: 60%;
    padding: 20px 20px 0;
}
.page-web-flow-message{
    width: 100%;
    margin: 50px auto 0;
    padding:  60px 100px 20px;
    background-color: #fff;
    color: #333;

}
.page-web-flow-message a{
    display: block;
    padding: 20px;
    width: 70%;
    margin: 65px auto 10px;
    background: #666666;
    color: #24211E;
    font-size: 2.0rem;
    text-align: center;
    border-radius: 50px;
}
.page-web-flow-item-text{
    padding: 20px 0;
    font-size: 1.3rem;
}


.page-web-price dl{
    display: flex;
    text-align: center;
}
.page-marke-price dt{
    font-size: 2.3rem;
}
.page-marke-pick dt{
    font-size: 1.8rem;
}

.page-web-price dt,dd{
    width: 60%;
}
.page-web-price dt,dd{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dotted #fff;
}
.page-web-link{
    width: 70%;
    margin:30px auto 20px;
    border-radius: 50px;
    background: #fff;
    text-align: center;
    padding: 10px 0;
}
.page-web-link a{
    font-size: 3.0rem;
}
.bg-white{
    background: #fff;
    color: #333;
    width: 100%;
    margin: 0 auto;
}
.page-web-subsuku-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-web-subsuku-item{
    width: 33%;
    margin:0 20px;
}
.page-web-subsuku-item-num{
    color: #fff;
    font-size: 4.0rem;
    margin: 10px 0;
    position: relative;
    text-align: center;
}
.page-web-subsuku-item-num::before{
    position: absolute;
    width: 15%;
    height: 2px;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    background: #fff;
    content: "";
}
.page-web-subsuku-item-num::after{
    position: absolute;
    width: 15%;
    height: 2px;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    background: #fff;
    content: "";
}
.page-web-subsuku-item-text{
    color: #333;
    background: #fff;
    height: 400px;
}

.page-web-subsuku-item-text p:nth-of-type(1){
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin: auto;
}
.page-web-subsuku-item-text p:nth-of-type(2){
    text-align: start;
    padding: 20px;
}
.page-web-subsuku-item-text span{
    font-size: 1.3rem;
}

.page-web-subsuku-item img{
    width: 100%;
    margin: 0 auto 20px;
    display: block;
    height: 170px;
    object-fit: cover;
}

.page-marke-chroll table{
    width: 100%;
    text-align: center;
}
.page-marke-chroll table th{
    height: 50px;
    width: 50px;
}
.page-marke-chroll table td{
    height: 50px;
    border-bottom: 1px dotted;
}



.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width:500px) {

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    section {
        padding: 0;
    }
    .container{
        padding:0;
    }
    .contact-wrapper{
        padding: 20px 0 40px;
    }
    .main-message{
        height: 450px;
    }
    .main-message p:nth-of-type(1){
        font-size: 2.6rem;
    }
    .page-container{
        padding: 40px 0;
    }
    .section-title{
        font-size: 2.5rem;
    }
    .image3{
        font-size: 3.0rem;
    }
    .hr{
        top: 50px;
        width: 65%;
    }

    .mask-landscape p {
        font-size: 5.0rem;
        font-weight: bold;
    }

    .fv-text {
        font-size: 1.6rem;
        left: 30px;
    }
    .fv-office{
        left: 0;
    }
    .service-item-wrapper {
        width: 100%;
    }

    .service-item-text p:nth-of-type(1){
        font-size: 4.0rem;
        font-weight: bold;
    }

    .page-wrapper {
        flex-direction: column;
    }

    .page-item {
        width: 90%;
        margin: 0 auto 50px;
        padding: 0;
    }
    .contact-text{
        margin: 0 auto 30px;
        padding: 0 10%;
    }

    .contact-link {
        width: 90%;
        margin: 20px auto;
    }


    .footer-wrapper {
        flex-direction: column;
    }

    .footer-left {
        width: 100%;
        border-right: 0;
    }
    .page-title{
        font-size: 3.2rem;
    }
    #page-top {
        width: 30px;
        height: 30px;
        right: 30px;
    }

    #page-top a {
        line-height: 30px;
    }


    .page-info {
        width: 100%;
        padding: 20px;
        margin-left: 0;
    }
    .page-web-item{
        flex-direction: column;
    }
    .page-web-item-text,.page-web-item-img{
        width: 100%;
        padding: 20px;
    }
    .page-web-flow-inner{
        margin: 0 10px;
    }
    .page-web-flow{
        flex-direction: column;
    }
    .page-web-flow-item{
        width: 100%;
    }
    .page-web-flow-item img{
        width: 50%;
    }
    .page-web-price{
        width: 95%;
        margin: 0 auto;
    }
    .page-web-price-message{
        width: 95%;
        margin: 10px auto;
        line-height: 1.8;
    }
    .page-web-flow-item-text{
        margin: 20px 10px;
        padding: 0;
    }

    .page-web-flow-item p{
        font-size: 2.2rem;
    }
    .page-web-flow .fa-angle-down{
        font-size: 5rem;
        text-align: center;
        margin: 5px 0 30px;
    }

    .page-web-subsuku-list{
        flex-direction: column;
    }
    .page-web-subsuku-item{
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .page-web-link{
        width: 90%;
    }
    .page-web-link a{
        font-size: 2.0rem;
        color: #333;
    }
    .page-marke-chroll{
        overflow: scroll;


    }
    .scroll{
        text-align: end;
        padding: 10px;
    }
    .page-marke-chroll table{
        white-space: nowrap;
        border-collapse: collapse;
        min-width: 1000px;
        border: 1px #666666 solid;
    }
    .page-marke-chroll th{
    }
    .page-marke-chroll table th{
        height: 50px;
        width: 50px;
    }
    .page-marke-chroll table td{
        height: 50px;
        text-align: center;
        border-bottom: #fff dotted 1px;
    }
    .page-web-subsuku-item-text{
        height: 370px;
    }
}





/* ハンバーガーメニュー */

/* ボタンの全体*/
.ham_btn * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font: inherit;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: left;
    text-decoration: none;
    list-style: none;
}

.ham_btn {
    display: block;
    padding: 0;
    width: 40px;
    height: 20px;
    position: fixed;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    top: 25px;
    right: 20px;
    z-index: 9999;
}

/* ボタンのライン */
.ham_btn .ham_btn_bar {
    display: block;
    width: 40px;
    height: 2px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    background: #fff;
}

/* open前のボタン */
.ham_btn .ham_btn_bar1 {
    top: 0;
}

.ham_btn .ham_btn_bar2 {
    top: 50%;
}

.ham_btn .ham_btn_bar3 {
    top: 100%;
}

/* open後のボタン */
.ham_btn.open_ham .ham_btn_bar {
    width: 35.36px;
    left: 7.5px
}

.ham_btn.open_ham .ham_btn_bar1 {
    transform: rotate(0.7853981633974483rad) translateY(-50%);
    top: -5px
}

.ham_btn.open_ham .ham_btn_bar2 {
    opacity: 0;
}

.ham_btn.open_ham .ham_btn_bar3 {
    transform: rotate(-0.7853981633974483rad) translateY(-50%);
    top: calc(100% - 0px)
}


.ham_btn .ham_btn_bar {
    background-color: #fff;
}

/* ボタン文字open前 */
.ham_btn_text {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    text-align: center;
    font-size: 10px;
    color: #2274a5;
}

.ham_btn_close {
    letter-spacing: 0.08em;
    display: none;
}

/* ボタン文字open後 */
.ham_btn.open_ham .ham_btn_menu {
    display: none;
}

.ham_btn.open_ham .ham_btn_close {
    display: block;
}

/* 開閉メニュー */
.menu-sp {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 50;
    background-color: #333;
    padding-top: 150px;
    padding-left: 30px;
    transition: left 0.5s;
}
.menu-sp li{
    margin: 15px 0;
}

.menu-sp a{
    color: #fff;
}
.add-menu-sp {
    left: 0;
}

/* モーダル */
.modal-sp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    background-color: rgba(0, 0, 0, 0.6);
}

.add-modal-sp {
    visibility: visible;
    opacity: 1;
    z-index: -1;
}

